

.container .row > h5 {
  text-align: center;
}

.container .row div p {
  font-size: 13px;
  margin: 0;
  padding: 5px 0;
}

.container .row div h5 {
  font-size: 20px;

}

.container .row .Certificate__Display {
  width: 90%;
  margin: auto;
}

.container .row .Certificate__Display img {
  max-width: 800px;
  height: auto;
}
