.Certificate__Display img
{
  width: 100%;
}

.container
{
  margin:0;

}
.img-clog
{

  width: 80px;
  height: 80px;
  border-radius: 100px;

}
.side
{
 background: #FEFBF3;
 margin: 0px;
 color: grey;
}
.text-center

{
  padding-bottom: 20px;
}
.cir
{
  margin-top: 80px;
}
footer{
  background: ##FFFAFA;
}


@media screen and  (max-device-width:995px) , screen and (max-width:995px)  {

.nav-bar
{
  z-index: 111;
}

.certificate__section
{
  margin-top: 40px;
  padding: 0!important;
  padding-left: 0px!important;
  width: 100%;
  height: 100%!important;
}
.text-center

{
  padding-bottom: 10px;
  font-size: 12px;

}
.text-center img
{margin-top: 13px;
  width:70px!important;
  height: 70px!important;
}

}
