@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik";
}

body {
  font-family: "Rubik";
}
.loading-screen {
  padding-top: 20vh;
  text-align: center;
}
.logo {
  width: 300px;
  height: 300px;
}
.cont {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e);
  background-size: 400% 400%;
  position: relative;
}
.nav-bar {
  position: absolute;
  background-color: #122;
  top: 0;
  left: -25rem;
  height: 100vh;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
  z-index: 1;
}
.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}
.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  display: none;
}
.line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.2s ease-out;
}
.toggle .line1 {
  background-color: #e73c7e;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  background-color: #e73c7e;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}
.nav-list {
  list-style: none;
  z-index: 1;
}
.nav-list-item {
  text-align: center;
  padding: 1rem 0;
}
.nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
  display: flex;
}
.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
  transform-origin: left;
}
.nav-link:hover::before {
  transform: scaleX(1);
}

/* mobile menu*/

.group {
  position: relative;
  margin-bottom: 45px;
}

input,
textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Label */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

/* active */

input:focus ~ label,
input.used ~ label,
textarea:focus ~ label,
textarea.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #4a89dc;
}

/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */

.highlight {
  position: absolute;
  height: 0%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

input:focus ~ .highlight,
textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}

:root {
  --body-color: #f8f8f8;
  color: white;
}

/* h1,h2,h3,h4,h5,h6,span{
  font-family: 'Poppins', sans-serif;
} */

body {
  scroll-behavior: smooth;
  background: var(--clr-dark);
  background: var(--clr-dark);
  overflow-x: hidden;
}

.darkmode {
  --clr-light: #fdffc4;
  --clr-dark: #121212;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  color: white;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}
.sun1 {
  display: none;
}
.toogle-mode__icon1 {
  display: block;
  color: white;
}

.DarkMode_Color {
  color: rgb(255, 210, 8) !important;
}

.DarkMode__White__color {
  color: #fff !important;
}
/* NAVBAR CSS */

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  height: 12vh;
  z-index: 100;
}

nav.sticky {
  background-color: #fff;
}

nav .Logo__Img {
  width: 20%;
  text-align: center;
}

nav img {
  width: 80px;
  height: 80px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  padding-top: 13px;
}

nav ul li {
  width: 100%;
  list-style: none;
  transition: all 0.5s ease;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  font-family: "Tillana", cursive;
  color: black;
  font-size: 25px;
}

nav ul li:hover {
  padding: 20px;
  /* border: 1px solid black; */
}

nav ul li:hover a {
  color: crimson;
  font-weight: 800;
}

nav ul li a .mode__icon {
  height: 30px;
  width: 30px;
  color: black;
}

nav nav .burger {
  z-index: 2;
}

nav .burger .line-1,
nav .burger .line-2,
nav .burger .line-3 {
  width: 30px;
  height: 4px;
  background: rgb(194, 190, 190);
  margin: 4px;
  cursor: pointer;
}

.nav-active {
  -webkit-transform: translate(0%);
  transform: translate(0%);
}

.burger div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle .line-1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
.header {
  background: linear-gradient(132deg, #fff, #000, #eeff04, #fff, #fff);
}
@keyframes jello {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  50% {
    transform: scaleX(1.42) scaleY(0.7);
  }

  90% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.jello span:hover {
  animation: jello 0.5s infinite;
  transform-origin: center;
}
.center span {
  font-size: 45px;
  font-weight: 800;
  font-weight: bolder;
  display: inline-block;
  font-weight: bold;
  color: #1a08b9;
  letter-spacing: 1px;
  font-family: Georgia, serif;
  font-family: serif;
}
.heading-jump {
  padding-top: 300px;
  text-align: right;
  padding-right: 20px;
  position: absolute;
  right: 10px;
  top: 0;
}

.time {
  color: #fff;
  text-align: center;
  display: flex;
  margin-left: 30px;
}
.date {
  color: #fff;

  margin: 20px;
  margin-bottom: 0;
  margin-top: 0px;
}
.menu {
  z-index: 1;
  position: absolute;
  top: 0;
}
.user_img {
  width: 90%;
  height: auto;
}
.word {
  overflow: hidden;
}

.wrapper1 {
  text-align: right;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0);
  height: 80px;
  position: absolute;
  right: 20px;
  bottom: 18vh;
  display: flex;
  border-radius: 8px;
}
.wrapper1 span {
  display: block;
  height: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 35px;
  color: #1a08b9;
  font-weight: bold;
  animation: spin_word 8s infinite;
  margin-left: 0px;
}

.wrapper1 p {
  font-size: 35px;
  font-weight: bold;
  color: #1a08b9;
}
@keyframes spin_word {
  10% {
    transform: translateY(-122%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-222%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-322%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-422%);
  }
  100% {
    transform: translateY(-400%);
  }
}
#wrapper1 {
  display: none;
}
#heading-jump {
  display: none;
}
#First__Section-img {
  display: none;
}

@media screen and (max-device-width: 995px), screen and (max-width: 995px) {
  .loading-screen {
    padding-top: 20vh !important;
    text-align: center !important;
  }
  .logo {
    width: 200px;
    height: 200px;
  }
  .loading-bar {
    left: 10vh !important;
  }
  #mob-jum {
    display: none;
  }
  #heading-jump {
    display: block;
  }
  #mob-user_img {
    display: none;
  }
  #First__Section-img {
    margin-top: 150px;
    display: block;
  }

  .user_img {
    margin-left: 0;
  }

  .heading-jump {
    padding: 20px !important;
  }
  .wrapper1 {
    top: 20%;
    font-size: 30px;
  }
  .heading-jump span {
    font-size: 35px !important;
    font-weight: bold !important;
    font-weight: 800;
  }
  .menu {
    display: none;
  }

  .nav-bar {
    position: fixed;
    background-color: #122;

    height: 120vh;

    width: 200px;
    transition: 0.5s ease-out;
    z-index: 11;
    padding-top: 15vh !important;
  }

  .toggle-menu {
    top: 1rem !important;
    left: 1rem !important;
    width: 2.3rem !important;
    height: 2rem !important;

    padding: 0.1rem 0.1rem !important;
    border-radius: 1px !important;
    display: block;
  }
  .line {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.2s ease-out;
    margin: 5px 0;
  }

  .nav-list {
    text-align: left !important;
    padding-top: 10px !important;
  }
  .nav-link {
    text-align: left;
    font-size: 1rem;

    padding: 0px !important;
  }

  .nav-list-item a i {
    padding: 10px;
  }
  .nav-list-item div i {
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
}

@media only screen and (min-width: 1000px) {
  /* nav .burger {
    display: none;
  } */
  .Separator {
    display: none;
  }
}

@media only screen and (max-width: 5000px) {
  nav ul {
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 88vh;
    position: absolute;
    top: 12vh;
    right: 0;
    background: white;
    background: var(--body-color);
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
    -webkit-transition: all 0.7s ease;
    transition: all 0.2s ease;
  }
  nav .burger {
    display: block;
    margin-right: 20px;
  }
  nav .Logo__Img {
    width: 10% !important;
  }
  nav img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  nav ul li a {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1000px) {
  nav ul li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  nav ul li a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  nav ul {
    width: 50%;
  }
}

/* FIRST SECTION */

/*.First__Section {
  min-height: 25vh;
  overflow: hidden;
}

.First__Section.DarkMode {
  background-color: #000;
  color: white;
}
.container {
  width: 76vw;
}
.Main__Img {
  position: absolute;
  top: 30px;
  left: 15%;
  width: 1120px;
  height: auto;
}*/

.Heading,
.Heading2,
.Heading3,
.Heading4 {
  z-index: 1;
  position: absolute;
  right: 10%;
  font-size: 35px;
  color: #1a08b9;
}

.Heading {
  top: 71%;
}

.Heading2 {
  top: 77%;
}

.Heading3 {
  top: 84%;
}

.Heading4 {
  top: 90%;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .Heading {
    top: 56%;
  }
  .Heading2 {
    top: 61%;
  }
  .Heading3 {
    top: 67%;
  }
  .Heading4 {
    top: 75%;
  }
}

@media only screen and (max-width: 992px) {
  .Heading {
    top: 50%;
  }
  .Heading2 {
    top: 57%;
  }
  .Heading3 {
    top: 65%;
  }
  .Heading4 {
    top: 39%;
  }
}

@media only screen and (max-width: 768px) {
  .Heading,
  .Heading2,
  .Heading3,
  .Heading4 {
    font-size: 20px;
    right: 17%;
  }
  .Heading {
    top: 55%;
  }
  .Heading2 {
    top: 58%;
  }
  .Heading3 {
    top: 61%;
  }
  .Heading4 {
    top: 64%;
  }
}

@media only screen and (max-width: 700px) {
  .First__Section .container {
    margin-top: 100px;
  }
  .Heading,
  .Heading2,
  .Heading3,
  .Heading4 {
    right: 12%;
  }
  .Heading {
    top: 37%;
  }
  .Heading2 {
    top: 39%;
  }
  .Heading3 {
    top: 41%;
  }
  .Heading4 {
    top: 43%;
  }
}

@media only screen and (max-width: 576px) {
  .First__Section .container {
    margin-top: 0px;
  }
  .Heading,
  .Heading2,
  .Heading3,
  .Heading4 {
    right: 5%;
    font-size: 80%;
  }
  .Heading {
    top: 46%;
  }
  .Heading2 {
    top: 49%;
  }
  .Heading3 {
    top: 52%;
  }
  .Heading4 {
    top: 55%;
  }
}

@media only screen and (max-width: 450px) {
  .First__Section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Heading {
    top: 48%;
  }
  .Heading2 {
    top: 51%;
  }
  .Heading3 {
    top: 54%;
  }
  .Heading4 {
    top: 57%;
  }
}

@media only screen and (max-width: 300px) {
  .Heading,
  .Heading2,
  .Heading3,
  .Heading4 {
    font-size: 12px;
  }
}

/* SECOND SECTION */

.Second__section {
  min-height: 10vh;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Second__section .QuoteMain__box {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Second__section .QuoteMain__box h1 {
  font-family: "Arial", cursive;
}

.Second__section .Quote__AREA h2,
.Quote__AREA p {
  text-align: center;
  font-family: "Calibri", cursive;
}

.Next__Quote__Btn {
  padding: 6px 10px;
  background: crimson;
  color: white;
  transition: all 0.3s ease;
  border: none;
  border-radius: 10px;
}
.Next__Quote__Btn:hover {
  color: crimson;
  background: white;
  border: 1px solid crimson;
}

@media only screen and (max-width: 576px) {
  .QuoteMain__box {
    margin: 0px 10px !important;
  }
  .Second__section .QuoteMain__box {
    /* border: none; */
    padding: 10px 7px;
  }
}

/* Third Section */
.Third__Section {
  min-height: 20vh;
}

.Third__Section .row .col {
  padding: 50px 20px;
}

.Third__Section__column_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Third__Section__column_1 p {
  text-align: justify;
}

/* Progress Bar */
.skills {
  position: relative;
  display: flex;
  margin: 20px 0px;
  padding: 15px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.5s;
}
.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: white;
  margin-top: -2px;
  text-transform: uppercase;
}

.skills .Value {
  position: relative;
  width: 40px;
  text-align: left;
  color: white;
  margin-top: -2px;
  text-transform: uppercase;
}

.skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}

.skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0px 0px 2px #000;
  animation: animate 4s ease-in-out forwards;
}

@keyframes animate {
  from {
    width: 0%;
  }
}

.skills:nth-child(1) .percent .progress {
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
}

.skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
}

.skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}

.skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #ffee54, #ff00ca);
}

.skills:nth-child(5) .percent .progress {
  background: linear-gradient(45deg, #22ffde, #2196f3);
}
.skills:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 576px) {
  .Third__Section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Third__Section .row .col {
    padding: 20px;
  }
}

/* About Section */
.About__Section {
  padding: 40px 0px;
}

.About__Section h1 {
  text-align: center;
}

.About__Section .About__Content p {
  text-align: justify;
}

.About__Section .About__Image,
.About__Section .About__Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.About__Section .About__Image img {
  height: 80%;
  border-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .About__Section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .About__Section h1 {
    margin-bottom: 20px;
  }
  .About__Section .row .col {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .About__Section .About__Image img {
    width: 250px;
    height: 250px;
  }
  .About__Section .About__Content p {
    padding: 0px 10px;
  }
}

/* Contact Design */
.Contact__Section {
  padding: 40px 0px;
  min-height: 82vh;
}

.Contact__Section .Contact__Part_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contact__Section .Contact__Part_1 .MAIN__FORM {
  width: 100%;
  padding: 0px 40px;
}
.Contact__Section .Contact__Part_1 .MAIN__FORM .Form__items input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 5px;
  outline: none;
}
.Contact__Section .Contact__Part_1 .MAIN__FORM .Form__items textarea {
  width: 100%;
  height: 100px;
  padding: 7px 5px;
  outline: none;
}

.Contact__Section .Contact__Part_1 .MAIN__FORM .Form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .Contact__Section .Contact__Part_1 .MAIN__FORM {
    padding: 0px;
  }
  .Contact__Section .Contact__Part_1 .MAIN__FORM .Form__items input,
  .Contact__Section .Contact__Part_1 .MAIN__FORM .Form__items textarea {
    border: none;
    border-bottom: 2px solid grey;
  }
}

@media only screen and (max-width: 768px) {
  .Contact__Section .row .col {
    margin-bottom: 20px;
  }

  .Contact__Part_2 {
    min-height: 50vh !important;
  }
}

@media only screen and (max-width: 570px) {
  .Contact__Section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Contact__Part_2 {
    display: none;
  }
}

/* Footer Design */
footer {
  height: 40px;
}

footer p {
  text-align: center;
  line-height: 40px;
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  footer p {
    font-size: 12px;
  }
  footer {
    overflow: hidden;
  }
}

/* MAP SECTION */
#map {
  flex: 1;
  z-index: 1;
  height: 100%;
}

.Time__Date__Temp {
  display: flex;
  width: 200px;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.Time__Date__Temp .partition {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.Time__Date__Temp div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border: 0px solid white;
  text-align: center;
  background: transparent;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .Time__Date__Temp {
    bottom: 40%;
    font-size: 65%;
  }
}

@media only screen and (min-height: 1100px) {
  .Time__Date__Temp {
    display: none;
  }
}

@media only screen and (max-width: 568px) {
  .Time__Date__Temp {
    left: 1%;
  }
  .Time__Date__Temp div {
    padding: 5px;
  }
}

/* Gallery Design */
.gallery {
  padding: 10px;
  max-width: 1100px;

  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense; /* Controls how the auto-placement algorithm works, specifying exactly how auto-placed items get flowed into the grid. */
}

/* Stretch vertically */
.v-stretch {
  grid-row: span 2;
}

/* Stretch horizontally */
.h-stretch {
  grid-column: span 2;
}

/* Stretch vertically and horizontally */
.big-stretch {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Make the gallery items all matchy matchy on smaller screen sizes */
@media screen and (max-width: 515px) {
  .v-stretch {
    grid-row: span 1;
  }

  .h-stretch {
    grid-column: span 1;
  }

  .big-stretch {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media only screen and (max-width: 568px) {
  .Separator__2 {
    display: none;
  }
}

/* Social Media */
.social_media__section {
  min-height: 10vh;
  padding: 50px 0px;
  border: 10px solid transparent;
}
.Social__media___card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: all 0.6s ease;
}
.Social__media___card:hover {
  border-radius: 19px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
}

.Social__Profile__details {
  text-align: center;
}
.Social__Profile__details h5 {
  color: crimson;
  margin-top: 10px;
  font-weight: 600;
}
.Socail_Media_proifle {
  border-radius: 20px;
}
.social__media__messages {
  text-align: center;
}
.social__media__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
}
.social__media__icons i {
  padding: 5px;
  transition: all 0.5s ease;
  color: #000;
}

.social__media__icons .fa-facebook-f {
  color: #1c06e2;
}

.social__media__icons .fa-instagram {
  color: rgb(240, 12, 50);
}

.social__media__icons .fa-linkedin {
  color: #1c06e2;
}

.social__media__icons .fa-twitter {
  color: rgb(70, 200, 243);
}

.social__media__icons .fa-envelope {
  color: black;
}

.social__media__icons i:hover {
  transform: scale(1.6);
}

@media only screen and (max-width: 576px) {
  .Social__media___card {
    width: 90% !important;
    margin: 0px 20px !important;
  }
}

/* Movable Programming Languages */
@media only screen and (max-width: 567px) {
  .Third__Section__column_2 {
    overflow: hidden;
  }
}

/* Projects Section Design */
.Projects__section {
  padding: 20px 0px;
}
.Projects__section .row {
  padding: 50px 0px;
}

@media only screen and (max-width: 992px) {
  .Projects__section .row {
    padding: 40px 0px;
  }
}

.Projects__section h1 {
  text-align: center;
  font-size: 50px;
}
.Projects__section .Project__First__column {
  padding: 20px 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Projects__section .Project__Second__column {
  padding: 20px 0px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.Projects__section .Project__Second__column p {
  width: 90%;
  font-size: 20px;
  text-align: justify;
}

.Projects__section .Project__Second__column .Icons__Box .icon__layer {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.Projects__section .Project__Second__column .Icons__Box .icon__layer h6 {
  font-size: 22px;
  color: #919191 !important;
}
.Projects__section .Project__Second__column .Icons__Box .icon__layer i {
  color: #919191 !important;
  font-size: 30px;
  margin-right: 20px;
}

.Projects__section .Project__Second__column .Project__BTn {
  margin: 15px 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

@media only screen and (max-width: 576px) {
  .Projects__section h1 {
    font-size: 32px;
  }

  .Projects__section .row {
    padding: 20px 0px;
  }

  .Projects__section .Project__Second__column .Icons__Box .icon__layer h6 {
    font-size: 15px;
  }

  .Projects__section .Project__Second__column .Icons__Box .icon__layer i {
    font-size: 20px;
  }

  .Projects__section .Project__Second__column p {
    font-size: 13px;
  }

  .Projects__section .Project__Second__column a {
    padding: 7px 14px;
  }

  .Projects__section .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px;
  }
  .Projects__section .Advanced_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

/* Zenith Project */
.Zenith__Project h1 {
  text-align: center;
}

.Zenith__Project p {
  text-align: justify;
  font-size: 20px;
  letter-spacing: 0.1px;
}

.photography__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photography__section p {
  width: 100%;
  text-align: center !important;
}

/* Certificates */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}

.portfolio .DarkMode {
  background: black;
  color: white;
}

.portfolio h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #111;
}
.card {
  width: 23%;
  overflow: hidden;
  position: relative;
  margin: 10px;
}
.card .content {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: -100px;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100px;
  background: #111;
}
.card .image {
  z-index: 1;
  height: 100%;
}
.card img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.card:hover .content {
  bottom: 0px;
  color: #fff;
}

.card:hover .image img {
  transform: scale(1);
}

.card .content span:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.card .content span:last-child {
  font-size: 14px;
  color: #18cfab;
  text-align: center;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .card {
    width: 22%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 30%;
  }
  .card .content {
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 46%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
